<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/calendar.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

  <title>APPerfectDay</title>
  <script src="/js/utils.js"></script>
</head>

<body>
  <div class="container-flex">
    <!--NavBar-->
    <nav>
      <div class="row" id="nav">
        <div class="col-4 text-center" id="cerrarBtn">
          <form method="post" action="/logout">
            <button type="submit" class="btn btn-primary">
              Cerrar session
            </button>
          </form>
        </div>
        <div class="col-4 text-center">
          <h1 id="title">APPERFECTDAY</h1>
        </div>
        <div class="col-4 text-center">
          <img src="/img/noUser.png" alt="" id="imgPerfil" />
          <h3><%=user.name%></h3>
        </div>
      </div>
    </nav>
    <div class="row">
      <!--Parte Izquierda-->
      <div class="col-8">
        <div class="app-calendar-month">
          <div class="calendar-panel">
            <% let prevYear = month == 1 ? year - 1 : year; let prevMonth =
                month == 1 ? 12 : month - 1; let nextYear = month == 12 ? year + 1
                : year; let nextMonth = month == 12 ? 1 : month + 1; %>
            <!--a href="/calendar/<%= prevYear %>/<%= prevMonth %>">Mes anterior</a-->
            <div><%= monthName %> <%= year %></div>
            <!--a href="/calendar/<%= nextYear %>/<%= nextMonth %>">Mes posterior</a-->
          </div>
          <% for (let row = 0; row < calendarDays.length / 7; row++) { %>
          <div class="calendar-row">
            <% for (let col = 0; col < 7; col++) { %> <% let i = row * 7 +
                col; let classes = ["calendar-day"]; if
                (!calendarDays[i].isThisMonth) { classes.push("calendar-day-off");
                } if (calendarDays[i].isToday) { classes.push("calendar-day-now");
                } %>
            <!-- a href="/calendar/<%= calendarDays[i].year %>/<%= calendarDays[i].month %>/<%= calendarDays[i].day %>"-->
            <div class="<%= classes.join(' ') %>" data-year="<%= calendarDays[i].year %>" data-month="<%= calendarDays[i].month %>" data-day="<%= calendarDays[i].day %>">
              <div class="calendar-day-number">
                <%= calendarDays[i].day %>
              </div>
              <div class="calendar-day-activities">
                <% for (let j = 0; j < calendarDays[i].activities.length && j
                    < 3; j++) { %> <% classes = ["calendar-day-activity"]; if
                    (calendarDays[i].activities[j].color) {
                    classes.push("background-" +
                    calendarDays[i].activities[j].color); } %>
                <div class="<%= classes.join(' ') %>">
                  <span class="calendar-day-activity-title"><%= calendarDays[i].activities[j].title %></span>
                  <span class="calendar-day-activity-timerange"><%= calendarDays[i].activities[j].from %> - <%=
                        calendarDays[i].activities[j].to %></span>
                </div>
                <% } %>
              </div>
              <% if (calendarDays[i].activities.length > 3) { %>
              <div class="calendar-day-more">
                +<%= calendarDays[i].activities.length - 3 %>
              </div>
              <% } %>
            </div>
            <!--/a-->
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
      <!--Parte derecha-->
      <div class="col-4" id="ParteDerecha">
        <div class="row text-center mt-1">
          <h3 style="color: white">20/12/2022</h3>
        </div>
        <div class="row" style="height: 80%">
          <%for(let i=1;i<=5;i++){%>
          <div class="row">Actividad <%=i%></div>
          <%}%>
            </div>
            <div class="row text-center">
              <div class="col">
                <button type="button" class="btn btn-primary" id="btnAsignatura">
                  Añadir Asignatura
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary" id="btnActividad">
                  Añadir Actividad
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-bg expand hidden">
      <!--lo que parece al pulsar Añadir asignatura-->
      <section id="modalAsignatura" class="d-none">
        <button class="close-btn">X</button>
        <div id="AsignaturaContainer">
          <div class="row text-center">
            <h3>Añadir Asignatura</h3>
          </div>
  
          <form style="margin-right: 10%; margin-left: 10%">
            <div class="form-group mt-2">
              <label for="nombreAsignatura">Nombre Asignatura</label>
              <input type="text" class="form-control" id="nombreAsignatura" placeholder="mates, fisica ..." />
            </div>
            <div class="form-group mt-1">
              <label for="numCreditos">Numero de Creditos</label>
              <select class="form-control" id="numCreditos">
                <option>4.5</option>
                <option>6</option>
                <option>9</option>
                <option>12</option>
              </select>
            </div>
            <div class="form-group mt-1">
              <label for="fechaAsignatura">fecha</label>
              <input type="date" class="form-control" id="fechaAsignatura" />
            </div>
            <div class="form-group mt-1">
              <label for="horaInicioAsignatura">Hora inicio</label>
              <input type="time" class="form-control" id="horaInicioAsignatura" />
            </div>
            <div class="form-group mt-1">
              <label for="horaFinAsignatura">Hora Fin</label>
              <input type="time" class="form-control" id="horaFinAsignatura" />
            </div>
            <div class="row text-center mt-2 mb-1">
              <div class="col">
                <button type="button" class="btn btn-primary btnModal" id="btncerrarModalAsignatura">
                  Cerrar
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btnModal">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!--lo que parece al pulsar Añadir actividad-->
      <section id="modalActividad" class="d-none">
        <button class="close-btn">X</button>
        <div id="ActividadContainer">
          <div class="row text-center">
            <h3>Añadir Actividad</h3>
          </div>
  
          <form style="margin-right: 10%; margin-left: 10%">
            <div class="form-group mt-2">
              <label for="nombreActividad">Nombre Actividad</label>
              <input type="text" class="form-control" id="nombreActividad" placeholder="pasear perro, siesta ..." />
            </div>
            <div class="form-group mt-1">
              <label for="fechaActividad">fecha</label>
              <input type="date" class="form-control" id="fechaActividad" />
            </div>
            <div class="form-group mt-1">
              <label for="horaInicioActividad">Hora inicio</label>
              <input type="time" class="form-control" id="horaInicioActividad" />
            </div>
            <div class="form-group mt-1">
              <label for="horaFinActividad">Hora Fin</label>
              <input type="time" class="form-control" id="horaFinActividad" />
            </div>
            <div class="row text-center mt-2 mb-1">
              <div class="col">
                <button type="button" class="btn btn-primary btnModal" id="btncerrarModalActividad">
                  Cerrar
                </button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btnModal">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="sidepanel">
      <div class="calendar-events">
        <img class="calendar-loading" src="/media/loading_spinner.gif" />
        <div class="calendar-error d-none">
          <div class="calendar-error-text">Ocurrió un error al cargar las actividades</div>
          <button>Reintentar</button>
        </div>
      </div>
      <div class="app-calendar-day expand opacity-hidden">
        <div class="calendar-panel">
          <div class="calendar-date"></div>
        </div>
        <div class="calendar-activities"></div>
      </div>
    </div>
    <div class="panel-bg expand hidden"></div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/js/calendar.js"></script>
    <script>
      (() => {
        const modalAsignatura = $('#modalAsignatura');
        const modalActividad = $('#modalActividad');
        const modalBackground = $('body div.modal-bg');
        
        //abrir y cerrar modal Asignatura
        $('#btnAsignatura').on('click', () => {
            modalAsignatura.removeClass("d-none");
            modalBackground.removeClass("hidden");
        })
        modalAsignatura.children(".close-btn").on('click', () => {
          if (!modalAsignatura.hasClass("d-none")) {
            modalAsignatura.addClass("d-none");
          }
          if (!modalBackground.hasClass("hidden")) {
            modalBackground.addClass("hidden");
          }
        })
  
        //abrir y cerrar modal Actividad
        $('#btnActividad').on('click', () => {
            modalActividad.removeClass("d-none");
            modalBackground.removeClass("hidden");
        })
        modalActividad.children(".close-btn").on('click', () => {
          if (!modalActividad.hasClass("d-none")) {
            modalActividad.addClass("d-none");
          }
          if (!modalBackground.hasClass("hidden")) {
            modalBackground.addClass("hidden");
          }
        })
        
        modalBackground.on('click', () => {
          if (!modalAsignatura.hasClass("d-none")) {
            modalAsignatura.addClass("d-none");
          }
          if (!modalActividad.hasClass("d-none")) {
            modalActividad.addClass("d-none");
          }
          if (!modalBackground.hasClass("hidden")) {
            modalBackground.addClass("hidden");
          }
        })
      })();
    </script>
  </body>

</html>